.form-control {
  position: relative;
  max-width: 445px;
  input {
    width: 100%;
    max-width: 445px;
    height: 58px;
    border-radius: 28px;
    border: 1px solid $secondary-color-light-pink;
    opacity: 0.5;
    padding: 15px 105px 15px 35px;
    @include font-style(
      1.6rem,
      1.75,
      normal,
      $secondary-color-dark-pink,
      $main-font-family,
      400
    );

    &::placeholder {
      @include font-style(
        1.6rem,
        1.75,
        normal,
        $secondary-color-dark-pink,
        $main-font-family,
        400
      );
    }
    &:focus {
      @include font-style(
        1.6rem,
        1.75,
        normal,
        $primary-color-dark-brown,
        $main-font-family,
        400
      );
    }
  }
  // input:-in {
  // background-color: transparent !important;
  // }
  input:-internal-autofill-selected {
    // appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: $primary-color-dark-brown !important;
  }

  button {
    position: absolute;
    display: inline-block;
    right: 8px;
  }
}
